<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>New Categories</title>
</head>
<body>

	<header th:insert="layout/layout :: frag-header"></header>
	<main>

		<section>

			

			<div class="card text-center margin-20">
				<div class="card-header">New Categorie</div>
				<div class="card-body" style="text-align: left">

					<form th:action="@{/categoriess/savenew}" th:object="${categories}"
						method="post" class="row g-3 needs-validation" novalidate>

						<div class="col-md-3">
							<label for="name" class="form-label">Name</label> <input
								type="text" class="form-control" th:field="*{name}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>				

						<div class="col-md-2">
							<label for="trendRanking" class="form-label">Trend Ranking</label> <input
								type="number" class="form-control" th:field="*{trendRanking}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-3">
						    <label for="urlToImage" class="form-label">Url To Image</label>
						    <input type="text" class="form-control" th:field="*{urlToImage}" required>
						    <div class="valid-feedback">
						      Looks good!
						    </div>
						  </div>

						<div class="col-12" style="text-align: Center">
							<button class="btn btn-success" type="submit">Crear</button>
							<a class="btn btn-danger" th:href="@{/categoriess}" role="button">Cancelar</a>
						</div>
						
					</form>

				</div>

				<div class="card-footer text-muted"></div>
			</div>
		</section>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>

</body>
</html>