<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Categories</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/categoriess}">Categories</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Home</li>
	  </ol>
	</nav>
  
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Categories
	  </div>
	  <div class="card-body">
	  
	  <div class="row">
		  <div class="col-sm-3 margin-b-10">
		    <div class="card">
		      <div class="card-body">
		      	<img th:src = "${categories.urlToImage}" class="card-img-top img-responsive" alt="...">
		        
		        <p class="card-text"> 
		        	Categories: <span th:text="${categories.name}"></span> <br>
		        	TrendRanking: <span th:text="${categories.trendRanking}"></span> <br>
		        	
		        </p>
		        <a class="btn btn-success" th:href="@{'/categoriess/' + ${categories.id} + '/viewcategorie'}" role="button"><i class="fas fa-shopping-cart"></i>See List Clothes</a>
		       	<a class="btn btn-danger" th:href="@{/categoriess}" role="button"><i class="fas fa-minus-circle"></i> Regresar</a>
		      </div>
		    </div>
		  </div>
	    
	  </div>
	 
    
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>