<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Sales</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
	
  
	<div class="card margin-20" style="background-color: rgb(153, 200, 251)">
	  <div class="card-header text-center">
	    Sales
	  </div>
	  <div class="card-body">
	  
	  
	  
	
	  
	 	<div class="row">
		  <div th:each="sale : ${sales}" class="col-sm-3 margin-b-10">
		    <div class="card">
		      <div class="card-body">  
		        <p class="text-center">
		        	<span th:text="${sale.id}"></span>
		        </p>  
		        
		        <p class="text-start">
		        	La ganancia total es <span th:text="${sale.orderDetail.total}"></span>        	
		        </p> 
		        <p class="text-start">
		        	El modelo del la prenda es <span th:text="${sale.orderDetail.clothing.model}"></span>
        	
		        </p> 
		        <p class="text-start">	
		        	Nombre del cliente <span th:text="${sale.orderDetail.order.client.firstname}"></span>
   	
		        </p> 
		        <p class="text-start">	
		        	Numero de la targeta del cliente <span th:text="${sale.orderDetail.order.card}"></span>
   	
		        </p> 
		        
		        
		      </div>
		    </div>
		  </div>
	    
	  </div>
	 
    
	  </div>
	  <div class="card-footer text-muted">
	 
	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>