<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="frag-head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
	<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet" >
	<link th:href="@{/css/solid.min.css}" rel="stylesheet" >
	<title>Codega</title>
</head>
<body>

<header th:fragment="frag-header">	<!-- Crear un fragmento -->
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(145, 255, 200);" >
		<div class="container-fluid">
		     
		    <a class="navbar-brand" href="#"><img th:src="@{/images/Ropasa.jpg}" id="imagen" height=”80” width=100” alt="..."/></a>
		
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item" sec:authorize="hasRole('ROLE_SELLER')">
						<a class="nav-link" aria-current="page" href="/listClothing"  style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> List Clothing </a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ROLE_SELLER')">
						<a class="nav-link" aria-current="page" href="/inventory" style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> Inventory</a>
					</li>
					
					<li class="nav-item" sec:authorize="hasRole('ROLE_SELLER')">
						<a class="nav-link" aria-current="page" href="/sales" style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> Sales</a>
					</li>
					
					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
						<a class="nav-link" aria-current="page" href="/clients" style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> Users</a>
					</li>
					
					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
						<a class="nav-link" aria-current="page" href="/categoriess" style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> New Categorie</a>
					</li>
					
					<li class="nav-item" sec:authorize="hasRole('ROLE_CLIENT')">
						<a class="nav-link" aria-current="page" href="/categoriess" style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> Categories</a>
					</li>
					
					<li class="nav-item" sec:authorize="hasRole('ROLE_CLIENT')">
						<a class="nav-link" aria-current="page" href="/orderDetails" style="color: black;"><i class="fas fa-shopping-cart" style="color: black;"></i> Order Details</a>
					</li>
					
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-warning" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<a sec:authorize="isAnonymous()" class="btn btn-outline-light"
						th:href="@{/users/sign-up}" role="button"><i
						class="fas fa-user"></i> Sign-up</a> 
						
				<a sec:authorize="isAnonymous()" class="btn btn-outline-warning" th:href="@{/login}" role="button"><i class="fas fa-user"></i> Sign-in</a>
				
				    <div class="dropdown" sec:authorize="isAuthenticated()">
						  <a class="btn btn-outline-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						    <i class="fas fa-user-circle"></i> <span sec:authentication="name">Username</span>
						  </a>			
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						  <li><a class="dropdown-item" th:href="@{/users/view-profile}">View Profile</a></li>
						    <li><hr class="dropdown-divider"></li>
						    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
						  </ul>
					 </div>
					 
					
				

				
						
						

					
					
					
				
					      
	      
	  
			
				
			</div>
		</div>
	</nav>
</header>
<main>
	<section>
	</section>
</main>
<footer th:fragment="frag-footer">
	<p>Codega</p>
	<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</footer>

</body>
</html>