<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Base2 :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Lista de Etiquetas</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
	<div class="card text-center">
	  <div class="card-header">
	    Lista de Etiquetas
	  </div>
	  <div class="card-body">
	    
	    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Tipo</th>
		      <th scope="col">Descripcion</th>
		      <th scope="col">Cliente Asignado</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="label : ${labels}">
		      <th scope="row" th:text="${label.id}"></th>
		      <td th:text="${label.type}"></td>
		      <td th:text="${label.description}"></td>
		      <td th:text="${label.client.firstname}"></td>
		    </tr>
		  </tbody>
		</table>
	    
	  </div>
	  	  <div class="card-footer text-muted">
	    <a class="btn btn-primary" th:href="@{/labels/new}" role="button"> <i class="fas fa-plus"></i> Nueva Etiqueta </a>
	  </div> 
	</div>
  </section>

</main>
<footer th:replace="layout/Base2 :: frag-footer"></footer>	

</body>
</html>