<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Products</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main >
	
  <section >
  
	
  
	<div class="card text-center margin-20" >
	  <div class="card-header">
	    Order Details
	  </div>
	  <div class="card-body" style="background-color: rgb(153, 200, 251)">
	  
	  <div class="row" >
		  <div th:each = "order : ${orders}" class="col-sm-3 margin-b-10">
		    <div class="card" style="background-color: rgb(80, 152, 89)">
		      <div class="card-body"> 
		      <p class="text-center" th:each = "orderDetail : ${order.orderDetails}">
		        	<span th:text="${orderDetail.id}"></span> 
		        </p> 
		       <p class="text-center" th:each = "orderDetail : ${order.orderDetails}">
		        	El modelo del prodcuto es <span th:text="${orderDetail.clothing.model}"></span> 
		       </p> 
		       <p class="text-center">
		        	La fecha del pedido es <span th:text="${order.orderDate}"></span>	 
		        </p>   
		        <p class="text-center">
		        	El Tipo de targeta es <span th:text="${order.type}"></span>
		        </p>
		         <p class="text-center">
		        	El numero de tu targeta es <span th:text="${order.card}"></span>
		        </p>
		        <p class="text-center">
		        	<div th:switch="${order.pickUpWay}">
		        		<div th:case="Recojo">
		        			lo recoges en la tienda 
		        		</div>
		        		
		        		<div th:case="Domicilio">
		        		 	el pago contra-entrega al direccion <span th:text="${order.client.direction}"></span>	
		        		</div>
		        		
		        	</div>
		        </p>    
		        <p class="text-center" th:each = "orderDetail : ${order.orderDetails}">
		        	El total a pagar es de S/ <span th:text="${orderDetail.total}"></span>
		        </p>  
		        
		        
   
		      </div>
		    </div>
		  </div>
	    
	  </div>
	    
	    
	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>