<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/Base2 :: frag-head">
<meta charset="ISO-8859-1">
<title>Lista de Clientes</title>
</head>
<body>

	<header th:insert="layout/layout :: frag-header"></header>
	<main>

		<section>
			<div class="card text-center">
				<div class="card-header">List Users</div>
				<div class="card-body">
				
				<div class="row">
					  <div th:each = "seller : ${sellers}" class="col-sm-3 margin-b-10">
					    <div class="card">
					      <div class="card-body"> 
					       <p class="text-center">
					        	Nombre Completo: <span th:text="${seller.firstName + ' ' + seller.lastName}"></span>	 
					        </p>   
					        <p class="text-center">
					        	Email: <span th:text="${seller.email}"></span>
					        </p>
					         <p class="text-center">
					        	Segment: Seller 
					        </p>            
			   
					      </div>
					    </div>
					  </div>
				    
				  </div>
				  
				  <div class="row">
					  <div th:each = "client : ${clients}" class="col-sm-3 margin-b-10">
					    <div class="card">
					      <div class="card-body"> 
					       <p class="text-center">
					        	Nombre Completo: <span th:text="${client.firstname + ' ' + client.lastname}"></span>	 
					        </p>   
					        <p class="text-center">
					        	Direction: <span th:text="${client.direction}"></span>
					        </p>
					         <p class="text-center">
					        	Segment: Client 
					        </p>            
			   
					      </div>
					    </div>
					  </div>
				    
				  </div>
	
				</div>
				<div class="card-footer text-muted">
					
				</div>
			</div>
		</section>

	</main>
	<footer th:replace="layout/Base2 :: frag-footer"></footer>

</body>
</html>