<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/Base2 :: frag-head">
<meta charset="ISO-8859-1">
<title>Detalles del Vendedor</title>
</head>
<body>

	<header th:insert="layout/layout :: frag-header"></header>
	<main>

		<section>

			
			<div class="card text-center margin-20">
				<div class="card-header">Datos Personales del Vendedor</div>
				<div class="card-body" style="text-align: left;">

					<form th:action="@{'/sellers/' + ${seller.id} + '/update'}" th:object="${seller}"
						method="post" class="row g-3 needs-validation" novalidate>
						<div class="col-md-6">
							<label for="lastName" class="form-label">Apellido</label> <input
								type="text" class="form-control" th:field="*{lastName}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-6">
							<label for="firstName" class="form-label">Nombre</label> <input
								type="text" class="form-control" th:field="*{firstName}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="col-md-4">
							<label for="cellphone" class="form-label">Cellphone</label> <input
								type="text" class="form-control" th:field="*{cellphone}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="col-md-7">
							<label for="email" class="form-label">Email</label> <input
								type="text" class="form-control" th:field="*{email}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						
						<div class="col-md-7">
							<label for="city" class="form-label">City</label> <input
								type="text" class="form-control" th:field="*{city}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						
						<div class="col-12" style="text-align: center;">
							<button class="btn btn-warning" type="submit">
								<i class="fas fa-save"></i> Actualizar Datos
							</button>
							
						</div>
					</form>
				</div>
				<br>
			
				
				<div class="card-footer text-muted"></div>
				
			</div>
		</section>
	
	</main>
	<footer th:replace="layout/Base2 :: frag-footer"></footer>

</body>
</html>