<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Edit List Clothing</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Edit List Clothing
	  </div>
	  <div class="card-body" style="text-align: left;">
	  	
	  	<form th:action="@{'/listClothing/' + ${listClothing.id} + '/update'}" th:object="${listClothing}" method="post" class="row g-3 needs-validation" novalidate>
		  <div class="col-md-3">
		    <label for="lastName" class="form-label">Name</label>
		    <input type="text" class="form-control" th:field="*{name}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  <div class="col-md-3">
		    <label for="firstName" class="form-label">Description</label>
		    <input type="text" class="form-control" th:field="*{description}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="urlToImage" class="form-label">Url To Image</label>
		    <input type="text" class="form-control" th:field="*{urlToImage}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="career" class="form-label">Category</label>
		    <select class="form-select" th:field="*{categories}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		  
		  
		  <div class="col-md-3">
		    <label for="seller" class="form-label">Seller</label>
		    <select class="form-select" th:field="*{seller}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="seller : ${sellers}" th:value="${seller.id}" th:text="${seller.username}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		  
		  <div class="col-12" style="text-align: center;">
		    <button class="btn btn-warning" type="submit"><i class="fas fa-save"></i> Update</button>
		  </div>
		</form>
	  
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>