<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	



  	<section style="display: flex; justify-content: center">
  		<div class="card-footer text-muted">
	    <a class="btn btn-primary" th:href="@{/listClothing/new}" role="button"> <i class="fas fa-plus"></i> New </a>
	  </div>
			<div class="row row-cols-1 row-cols-md-4 g-4" style="width: 80%">
				<div th:each="list : ${listClothing}">
					<div class="col">
						<div class="card">
							<img
								th:src=${list.urlToImage}
								class="card-img-top img-responsive" alt="...">
							<div class="card-body">
								<h5 class="card-title" th:text="${list.name}"></h5>
								<p class="card-text" th:text="${list.description}"></p>
								<a class="btn btn-warning" th:href="@{'/listClothing/' + ${list.id} + '/edit'}" role="button" sec:authorize="hasRole('ROLE_SELLER')"> <i class="fas fa-edit"></i> </a>
		      					<a class="btn btn-danger" th:href="@{'/listClothing/' + ${list.id} + '/del'}" role="button" sec:authorize="hasRole('ROLE_SELLER')"> <i class="fas fa-trash-alt"></i> </a>
		      					<a class="btn btn-danger" th:href="@{'/inventory/' + ${list.id} + '/list-clothing'}" role="button" sec:authorize="hasRole('ROLE_CLIENT')"> See clothes </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>