<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>New List Clothing</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/listClothing}">List Clothing</a></li>
	    <li class="breadcrumb-item active" aria-current="page">New</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    List Clothing
	  </div>
	  <div class="card-body" style="text-align: left;">
	  	
	  	<form th:action="@{/listClothing/savenew}" th:object="${listClothing}" method="post" class="row g-3 needs-validation" novalidate>
		  <div class="col-md-3">
		    <label for="Name" class="form-label">Name</label>
		    <input type="text" class="form-control" th:field="*{name}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  <div class="col-md-3">
		    <label for="firstName" class="form-label">Description</label>
		    <input type="text" class="form-control" th:field="*{description}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="urlToImage" class="form-label">Url To Image</label>
		    <input type="text" class="form-control" th:field="*{urlToImage}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>

		  
		  <div class="col-md-3">
		    <label for="career" class="form-label">Category</label>
		    <select class="form-select" th:field="*{categories}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="career" class="form-label">User</label>
		    <select class="form-select" th:field="*{users}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		  
		  <div class="col-12" style="text-align: center;">
		    <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Save</button>
		  </div>
		</form>
	  
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>